<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">Odoo 10 Customer & Supplier Accounts Statement</h2>
        <h3 class="oe_slogan" style="font-size: 21px;font-weight: 300;opacity: 0.5;margin-top: 12px;"><i>Easily manage your Customer Supplier Payments within few clicks!</i></h3>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            <i>Globalteckz Customer Supplier Accounts statement module allows you to handle all your Customer supplier pending, paid and overdue payments in more streamline way. With this module you don’t need to go to accounting management and payments can be handle withing few clicks. </i>
        </p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important; font-style: italic;"><a href="http://globalteckz.com/contact-us/enquiry-form">Before buying want to see demo or trial version contact us</a></h2>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%">
        <div class="oe_span12">
            <div class="panel panel-primary" id="wkid0">
                <div class="panel-body">
                    <h2 class="oe_slogan" style="letter-spacing: -1px !important; font-style: italic">Odoo Customer Supplier Suppliers Accounts Statement module offers you with following features:  </h2>
                    <ul class="list-unstyled">
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i> Manage Customer Payments </li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i> Manage Supplier Payments</li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i> Print reports for supplier and customer statements based on days and date selected.</li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i> Easy calculation of paid and pending payments</li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i> Send quick email for Over due payments</li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i> Manage due payments of all the customers & Suppliers</li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i> Further customizable as per your business requirements.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">After installation this Module </h2>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            <i>After installation of this module you can go into Sales Management Module click on customer, you can select the customer for further actions </i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_1.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_2.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_3.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_4.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 26px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            <i>As we have selected the option of Print customer/ Supplier Statement a pop up will open where you can select the date and days and click on print button </i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_5.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 24px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            <i>Here is an example of statement with all the detail </i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_7.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_8.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h3 class="oe_slogan" style="font-size: 21px;font-weight: 300;opacity: 0.5;margin-top: 12px;">
            <i>In accounting you can see in Journals the details of postings  </i>
        </h3>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_9.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_10.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">Vendor Statement Printing</h2>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
        You can select the vendor and click on the action button where you can click on Print Customer. Supplier Statement
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_11.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_12.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h3 class="oe_slogan" style="letter-spacing: -1px !important;">A pop up will open where you can select the date, days and print the statements </h3>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_13.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_14.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">In accounting you can see in Vendor Bills the details of postings </h2>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_15.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">Due Payments </h2>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            Select any of the Vendor and click on due payments 
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_16.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_17.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">Send email for Vendor Overdue payments</h2>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            You can click on the vendor and from there click on send email button
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_18.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_19.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">You can easily send the email with the statements already attached </h2>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_20.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">Send email for Customer Overdue payments </h2>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            You can click on the vendor and from there click on send email button
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_21.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_22.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_23.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">You can easily send the email with the statements already attached </h2>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_24.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="customer_supplier_accounts_statements_25.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">Further Customizable</h2>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 22px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            <i>If you feel that this module suits your 70 % needs and required some changes and customizations in the forms feel free to connect with us your inputs can make this module more better way from functionality wise.</i>
        </p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important; font-style: italic;">1 Year 360 Free Support</h2>
        <h3 class="oe_slogan" style="letter-spacing: -1px !important;font-style: italic;">Contact Us for any problem for Odoo Magento connector</h3>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300; font-style: italic; line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">You will be provided with Free support for 1 year in case any bugs or support while installing and testing the module. <br/>Free updates of modules for 1 year for the client who have purchased our connector.</p>

        <h2 class="oe_slogan" style="letter-spacing: -1px !important; font-style: italic;">Get Free Odoo Consultancy </h2>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300; font-style: italic; line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            Our team at Globalteckz is not only bound to provide support for this particular app. Incase of any other issues related to Odoo or Magento you would like to discuss feel free to connect with us via email – info@globalteckz.com. We ensure you proper Odoo Consultancy for the development of the solution.
        </p>
        <h2 class="oe_slogan" style="letter-spacing: -1px !important; font-style: italic;">About Globalteckz : </h2>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300; font-style: italic; line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            Globalteckz is an official Odoo partner completed more than 50+ Odoo projects across the globe. Quality is key of our coding and we follow strict rules on Odoo Standard coding ensuring every module is bug free. At GlobalTeckz we specialize in providing ERP implementation using the best of industry methodology that ensures successful ERP implementation. Be it manufacturing trading or eCommerce industry our resource thrive to make every project success for our clients.<br/>
            If you feel that this module can be helpful for your business feel free to email us on <a href="mailto:sales@globalteckz.com">sales@globalteckz.com</a> or raise a ticket on support
        </p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important; font-style: italic;">Other apps which are developed by Globalteckz</h2>
        <table  width="100%" style="border:1px solid grey;">
            <tr style="border:1px solid grey;" >
                <td width="33%" >
                    <a href="https://www.odoo.com/apps/modules/9.0/globalteckz_magento/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_magento.png" height="140px" width="240px" alt="Globalteckz" >
                        Odoo 9 / 10 Magento 1.9 connector
                    </a>

                </td>
                <td width="33%">
                    <a href="https://www.odoo.com/apps/modules/10.0/amazon_connector/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_amazon.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo Amazon connector
                    </a>
                </td>
                <td width="33%">
                    <a href="https://www.odoo.com/apps/modules/10.0/globalteckz_subscription_management/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_subscription.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo Subscription Module
                    </a>
                </td>
            </tr>
            <!--                second-->
            <tr style="border:1px solid green;">
                <td width="33%" >
                    <a href="https://www.odoo.com/apps/modules/10.0/web_debranding_globalteckz/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_debranding.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo 10 Debranding Look and feel
                    </a>

                </td>
                <td width="33%">
                    <a href="https://www.odoo.com/apps/modules/10.0/globalteckz_magento_2/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_magento_2.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo 10 / Odoo 9 Magento 2.0 + connector
                    </a>
                </td>
                <td width="33%">
                    <a href="https://www.odoo.com/apps/modules/10.0/sales_purchase_invoice_discount/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_global_discount.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo 10 Global Discount on Sales,Purchase & Invoice with Tax calculation
                    </a>
                </td>
            </tr>
            <!--                third-->
            <tr style="border:1px solid green;" >
                <td width="33%" >
                    <a href="https://www.odoo.com/apps/modules/9.0/prestashop_connector/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_prestashop.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo Prestashop connector

                    </a>

                </td>
                <td width="33%">
                    <a href="https://www.odoo.com/apps/modules/10.0/globalteckz_ebay/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_ebay.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo eBay connector
                    </a>
                </td>
                <td width="33%">
                    <a href="https://www.odoo.com/apps/modules/10.0/globalteckz_hospital_manangement" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_hospital.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo Hospital Management
                    </a>
                </td>
            </tr>
            <!--                fourth-->
            <tr style="border:1px solid green;">
                <td width="33%" >
                    <a href="https://www.odoo.com/apps/modules/10.0/globalteckz_employee_advance_salary_management/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_advance_salary_management.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo employee Advance Salary Management

                    </a>

                </td>
                <td width="33%">
                    <a href="https://www.odoo.com/apps/modules/10.0/pos_bundle/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_pos_bundle.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo 10 POS Bundle/Combo product
                    </a>
                </td>
                <td width="33%">
                    <a href="https://www.odoo.com/apps/modules/browse?author=Globalteckz" target="_blank" style="color:#004460;">
                        <center><h2 style="margin-top:55px;">More Apps ..</h2></center>
                    </a>
                </td>
            </tr>

        </table>

        <h2 class="oe_slogan" style="letter-spacing: -1px !important; font-style: italic;">We offer Magento and Odoo customizations too incase needed</h2>
    </div>
</section>
<section class="container">
    <div class="oe_dark oe_quote" style="height:410px">
        <div class="col-md-12">
            <div class="col-md-6">
                <img class="oe_photo" src="apps_icon/logo1.png" alt="Globalteckz" />
                <h3 class="oe_slogan">Official Odoo Partner</h3>
                <h2 class="oe_slogan">Odoo Support / Customisation Service</h2>
                <p>You can contact us for further Odoo Support, Odoo customisation, Odoo implementation, Odoo 3rd Party integration with any software, Odoo training, You can communicate with any mode to contact us.</p>
            </div>
            <div class="col-md-6 text-left">
                <div class="oe_author">You can connect us</div>
                <br/>
                <div class="oe_job"><i class="fa fa-envelope"></i> <span><a href="mailto:sales@globalteckz.com;" target="_blank">sales@globalteckz.com</a></span></div>
                <div class="oe_job"><i class="fa fa-mobile fa-2x"></i> <span><a href="tel:+91 9833344333" target="_blank">+91 98333 44 333</a></span></div>
                <div class="oe_job"><i class="fa fa-skype"></i> <span><a href="skype:abraar.patel" target="_blank">abraar.patel | kadriazhar</a></span></div>
                <div class="oe_job"><i class="fa fa-facebook-square"></i> <span><a href="https://www.facebook.com/globalteckz/" target="_blank">Globalteckz</a></span></div>
                <div class="oe_job"><i class="fa fa-google-plus-square"></i> <span><a href="https://plus.google.com/+Globalteckz" target="_blank">+Globalteckz</a></span></div>
                <div class="oe_job"><i class="fa fa-twitter-square"></i> <span><a href="https://twitter.com/globalteckz" target="_blank">@globalteckz</a></span></div>
                <div class="oe_job"><i class="fa fa-youtube-square fa-1x"></i> <span><a href="https://www.youtube.com/channel/UCBHWs6l65Rd1DY9AUBuv5Dg" target="_blank">Globalteckz</a></span></div>
                <div class="oe_job"><i class="fa fa-globe"></i> <span><a href="https://www.globalteckz.com/" target="_blank">www.globalteckz.com</a></span></div>


            </div>

        </div>
    </div>
</section>
<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan"><a href="http://support-portal.globalteckz.com/"  style= "color: #000000 !important;"> Get Help & Support</a></h2>
        </div>
        <br/>
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn btn-success mt8" title="Get Help !" style= "background-color:#9B0F4E; color: #FFFFFF !important;" href="http://support-portal.globalteckz.com/"> Help </a>
            <a class="btn btn-success mt8" title="Get Support!" style="background-color:#9B0F4E; color: #FFFFFF !important;" href="http://support-portal.globalteckz.com/"> Support </a>
            <a class="btn btn-success mt8"  title="Request New Features now !" style="background-color:#9B0F4E; color: #FFFFFF !important;" href="http://globalteckz.com/contact-us/enquiry-form"> Request New Features </a>
        </div>
    </div>
</section>
