<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Single Invoice for Multiple Sales Orders<span><img src="enterprise_and_community.png"></span></h2>
        <h3 class="oe_slogan">Make customers happy</h3>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                    <img src="sales_orders.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
Create multiple sales orders of same customer and you can issue a single merged invoice.
This is a kind of normal practice that most of the regular customer never needs invoices on daily basis, 
But they are expecting invoices on specific time interval like weekly once or monthly one etc. 
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Choose Sales orders When Create Invoice</h2>
        <h3 class="oe_slogan">Simply choose Sales Orders</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
Now you can choose the sales orders whose invoice is not generated when you create invoice.
When you choose the sales order, The invoice line auto fills all the data and you can create invoice seamlesly.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="add_so_to_invoice.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Final Customer Invoice</h2>
        <h3 class="oe_slogan">No more mess up, single merged invoice</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="single_invoice.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
Many sales orders in single invoice.
Customer will be more happy that they can maintain one invoice of one vendor for each month or week etc.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
<hr>
    <div class="oe_row">
        <h2 class="oe_slogan">Help and Support</h2>
        <h4 class="oe_slogan">For support, new features and customizations.</h4>
        <div class="oe_slogan">
            <img class="center-block" src="tis.png" width="250">
            <p style="text-align: center; color: #0D3B58;">
            <i class="fa fa-globe" aria-hidden="true"> <a href="http://www.technaureus.com/" target="_blank">http://www.technaureus.com/</a></i> | 
            <i class="fa fa-envelope" aria-hidden="true"> <a href="mailto:support@technaureus.com" target="_top">support@technaureus.com</a></i> | 
            <i class="fa fa-skype" aria-hidden="true"> <a href="skype:technaureus?call">technaureus</a></i>
            </p>
            <p style="text-align: center; color: #0D3B58;">
            <a href="https://www.facebook.com/technaureus" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/technaureus" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://plus.google.com/106328824399610529659" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/channel/UChusfuYvl4Xbf7-RLP5hHFg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href="https://www.pinterest.com/technaureus/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/company/technaureus-info-solutions?trk=ppro_cprof" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://technaureus.blogspot.in/" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/technaureus/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </p>
        </div>
   </div>
</section>

<section class="oe_container oe_separator">
<p style="text-align: center; color: #0D3B58;background-color:#000000">
<b>
<a href="http://www.odoo.com/apps/modules/browse?author=Technaureus%20Info%20Solutions" target="_blank">Click here for Technaureus Odoo Apps</a>
</b>
</p>
</section>
