table {
   width:100%;
   font: 14px/1.4 Arial;
   border-collapse: collapse;
   font-size: 14px;
   cellpadding: 5px;
}
th {
  font-family: 'Arial';
  font-size:18px;
  border: 1px solid black;
  text-align:center;
}

strong{
 font: 14px/1.4 Arial;
 font-size: 14px;
}
hr {
   display: block;
   font: 14px/1.4 Arial;
   font-size: 14px;
   border-width: 3px;
   border-collapse: collapse;
}
.right{text-align:right;}
.left{text-align:left;}

.ft{
font-family:Arial;
font-size:14px;}
th{
font-family:Arial;
font-size:14px;
}

td{
font-family:Arial;
font-size:14px;
}

span{
font-family:Arial;
font-size:14px;
}

 h2, h3, h4, h6 {
font-family:Arial;
font-size:14px;
}
.titel {

	text-align: center;
	font-size: 14px;
	font: 14px/1.4 Arial;
}
