<section class="oe_container oe_dark" style="overflow: hidden;
background: #efefef;
box-shadow: none;">
    <div class="mt32 mb32">
        <div class="col-md-12">
            <h2 class="oe_slogan" style="font-size: 35px;"><b>Mass Mail Invoice Send By Email</b></h2>
            <h3 class="oe_slogan" style="opacity: 1;"> This module helps to send a mass mail invoice to customers/vendors by email with Invoice report(pdf) as attachment. Also this email send from the email template so user can manage the content of email right now we used existing send by email template.</h3>
        </div> 
    </div>
</section>


<section class="container mt32">
    <div class="row">
        <h4 class="oe_slogan" style=" text-align: center;"><span align="center" class="label label-success" style="background-color:#528df3;"> <span class="fa fa-star fa-spin"></span>Mass Mail Invoice Send By Email</span></h4>
    </div>
</section>
<br>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
        <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Select Invoices</strong></h1>
        <h3 class="text-info" style="font-size: 25px;">Choose the invoices you want to send a mass mail to customer.</h3>
            <br/>
            <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="select_invoices.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Mass Mail Invoice Wizard</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">Click on send button to send email to selected invoices.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="wizard_invoice.png">
            </div>
        </div>
    </section>

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Email</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">Email will be sent to Customers.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="invoice_mail.png">
            </div>
        </div>
    </section>

<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h3 class="text-info" style="font-size: 25px;">Here you can see attachments of invoice report.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="attached_invoice_report.png">
            </div>
        </div>
    </section>
    
<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>No Customer Email Address Error</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">User can not send invoices to customer without email address.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="no_email_add_invoice.png">
            </div>
        </div>
    </section>

    
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Free Support</h2>
            <h3 class="oe_slogan" style="font-size: 20px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
            <p class="oe_slogan">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead">
		<div class="oe_row oe_spaced">
			<div class="oe_span12">
				<h2 class="oe_slogan">
           <a href="http://www.browseinfo.in" target="new">
                <img src="bi_logo.png">
            </a>
            <br>
					<a href="sales@browseinfo.in" style="color: #000000 !important;">
						Get Help &amp; Support</a>
				</h2>
			</div>
			<br>
			<div class="oe_slogan oe_spaced text-center">
				<a class="btn btn-success mt8" title="Website" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.browseinfo.in"> Website </a> <a class="btn btn-success mt8" title="Blog" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.blog.browseinfo.in"> Blog </a> <a class="btn btn-success mt8" title="Contact Us" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Support </a> <a class="btn btn-success mt8" title="Request New Features now !" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Request New Features </a>
			</div>
		</div>
	</section>


