<!--
<section class="container">
   <div class="oe_row oe_spaced mb4" >
        <h2 class="oe_slogan" >Inter Company Transaction</h2>
        	
        <center>
            <p class="oe_mt16" style="line-height: 190%;">
            	Accept payments in Odoo eCommerce with Suquare's online payment gateway</p></center>
                
    </div>
</section>
-->

<section class="container">
    <div class="oe_row oe_spaced mt8" >
				<h3 class="oe_slogan" >OVER VIEW</h3>
      <p class="oe_mt16" style="line-height: 190%;">
        Module to manage Inter Company Transfer and Inter Warehouse Transfer along with all required documents with easiest way by just simple configurations.
</p>

	      	      
    </div>
</section>

<!--
 <section class="container">
    <div class="oe_row oe_spaced mt8" style="width:45%;">
           <a style="color:white;font-size:28px;font-family: &quot;Lato&quot;, &quot;Open Sans&quot;, &quot;Helvetica&quot;, Sans;font-weight: bold;word-spacing: 2px;" href="https://shop.emiprotechnologies.com/odoo-cdiscount-connector.html#request-a-demo" target="_blank"> <div class="contct_us_btn" style="padding:23px;margin: 0 auto;display: block;background-color: #8F3F79;text-align: center;font-weight: bold;box-shadow: 2px 1px 12px 3px #ece6e6;">
            	User Guide<div></div>
            </div></a>
    </div>
</section>
-->


<section class="container">
    <div class="oe_row oe_spaced" >
        <h3 class="oe_slogan" >Common Features</h3>
        	      
	        
	        <ul style="list-style-type:square">
			<li style="padding-bottom: 2%">An easy interface to transfer products from one warehouse to another warehouse.</li>
			<li style="padding-bottom: 2%">System will decide what kind of documents needs to be created based on companies of source warehouse and destination warehouses.</li> 
			<li style="padding-bottom: 2%">All documents created by just one click based on the configuration of the system.</li>
			</ul>
	       
	        
    </div>
</section>



<section class="container">
    <div class="oe_row oe_spaced" >
        <h3 class="oe_slogan" >Inter Warehouse Transfer (Intra company transfer)</h3>
        	      
	        
	        <ul style="list-style-type:square">
			<li style="padding-bottom: 2%">Creates Delivery Order in source warehouse & Receipts in Destination warehouse.</li>
			<li style="padding-bottom: 2%">Smart buttons to view created Delivery Order & Receipt.</li>
			<li style="padding-bottom: 2%">Allows users to do reverse transfer from the same screen. It will reverse the delivery order & receipt.</li>
			</ul>
	       
	        
    </div>
</section>




<section class="container">
    <div class="oe_row oe_spaced" >
        <h3 class="oe_slogan" >Inter Company Transfer</h3>
        	      
	        
	        <ul style="list-style-type:square">
				
			<li style="padding-bottom: 2%">Creates Sales Order from source warehouse & Purchase Order in destination warehouse if warehouses belongs to different companies.</li>
			
			<li style="padding-bottom: 2%">Control over Invoice numbering / Refund numbering by specifying separate journals company wise.</li>
			
			<li style="padding-bottom: 2%">System will allow you to control pricing from the same screen. Same price will apply on sales order of source company and purchase order of destination company.</li>
			
			<li style="padding-bottom: 2%">An option to reverse entire / partial transactions with all effects. In case of Reverse intercompany transactions system will create reverse of delivery order, reverse of incoming shipment (only if they are done), debit note and credit note.</li>
			
			<li style="padding-bottom: 2%">Control over all documents process like automatic workflow of all documents, whether need to create or not, auto confirm or not, auto validate or not. Like one can control Auto confirm Sales Orders/ Purchase Order or Generate & Validate Invoice and Cancel: create credit note and reconcile.</li>
			
			<li style="padding-bottom: 2%">In multi company environment it’s not easy to create documents of multi companies without login to that company, with this app user can create all records related to intercompany transactions by just one click without login to that company, for that just need to set intercompany user company wise. So you can be sure that taxes applied on SO & PO are accurate according to the companies.</li>
			
						
			</ul>
	       
	        
    </div>
</section>



<section class="container">
    <div class="oe_row oe_spaced" >
        <h3 class="oe_slogan" >Recommended ICT Configurations</h3>
        <h4 class="oe_slogan" >COMMON CONFIGURATIONS</h4>
        
        	
        	
        	
        	<ul style="list-style-type:circle">
				
				<li style="padding-bottom: 2% font-weight: 500">Company Specific </li>
				
						 <ul style="list-style-type:square">
								
								<li style="padding-bottom: 2%">Set Inter Company user</li>
			
								<li style="padding-bottom: 2%">Inter company users must have rights same as an admin (to avoid access rights issue during process) but can have an access to only single company in which you set it.</li>
			
								<li style="padding-bottom: 2%">Set customer invoice and vendor bill journal (Optional)</li>
						</ul>
				
				
				<li style="padding-bottom: 2% font-weight: 500">Warehouses Specific</li>
				
				
						<ul style="list-style-type:square">
								
								<li style="padding-bottom: 2%">Set resupply warehouses in warehouse to generate automatic routes for internal transfers</li>
			
						</ul>
				
						
				<li style="padding-bottom: 2% font-weight: 500">Product Specific</li>
				
						 <ul style="list-style-type:square">
								
								<li style="padding-bottom: 2%">If products are common for all companies then remove / do not set company in products (if products needs to be shared by all companies).</li>
			
								<li style="padding-bottom: 2%">Vendor price configurations.</li>
			
								<li style="padding-bottom: 2%">Set routes in product</li>
						  </ul>

				
				
				
				<li style="padding-bottom: 2% font-weight: 500">Partners Specific</li>
				
						 <ul style="list-style-type:square">
								
								<li style="padding-bottom: 2%">Set customer location & Vendor location in partner</li>
			
						  </ul>

				
				
				<li style="padding-bottom: 2% font-weight: 500">Access Right: Inter company users must have an access of following areas.</li>
				
						  <ul style="list-style-type:square">
								
								<li style="padding-bottom: 2%">Sales Manager</li>
			
								<li style="padding-bottom: 2%">Purchase Manager</li>
			
								<li style="padding-bottom: 2%">Inventory Manager</li>
						
								<li style="padding-bottom: 2%">Accounting Manager</li>
			
								<li style="padding-bottom: 2%">Multi Warehouses</li>
								
								<li style="padding-bottom: 2%">ICT Manager</li>
				
						
						   </ul>
						
				
				<li style="padding-bottom: 2% font-weight: 500">ICT Configurations (Automatic workflow)</li>
				
				
						<ul style="list-style-type:square">
								
								<li style="padding-bottom: 2%">Auto confirm sale / purchase order</li>
			
								<li style="padding-bottom: 2%">Auto create invoice</li>
			
								<li style="padding-bottom: 2%">Auto validate invoice</li>
						</ul>
				
				
				<li style="padding-bottom: 2% font-weight: 500">Reverse ICT</li>
			
						<ul style="list-style-type:square">
								
								<li style="padding-bottom: 2%">Create a draft credit note</li>
			
								<li style="padding-bottom: 2%">Cancel: create credit note and reconcile</li>
			
						</ul>
				
			
			
			</ul>
        	
          	            
	  


        <h4 class="oe_slogan" >COMPANY WISE CONFIGURATIONS</h4>
              	
        	 <p class="oe_mt16" style="line-height: 190%;">
       (Company wise configurations means user need to login to each company and need to do configurations. Value of the fields might different company by company, field is unique but value might different for each company.)

</p>
        	
        	<ul style="list-style-type:circle">
				
				<li style="padding-bottom: 2% font-weight: 500">Product</li>
				
						 <ul style="list-style-type:square">
								
								<li style="padding-bottom: 2%">Customer taxes and vendor taxes</li>
			
	 					</ul>
				
				
				<li style="padding-bottom: 2% font-weight: 500">Partners</li>
				
				
						<ul style="list-style-type:square">
								
								<li style="padding-bottom: 2%">Set customer price list for partner for each companies</li>
								<li style="padding-bottom: 2%">Set fiscal position for partner for each companies</li>
			
						</ul>
		
		</ul>
        	
                    
	        
    </div>
</section>
				

<!--

<section class="container">
 <div class="oe_row oe_spaced">      	
        	<h2 class="oe_slogan">Our Other Odoo eCommerce Themes</h2>
        	<div style="max-width:1000px;width: auto;margin: 0 auto;display:block">
				<div class="col-xs-3 mt16">
					 <a href="https://goo.gl/t1TQtS" target="_blank"><img class="img img-responsive" src="ThemeClarico.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
				<div class="col-xs-3 mt16">
					 <a href="https://goo.gl/9kEpum" target="_blank"><img class="img img-responsive" src="ThemeBellus.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div>		
			</div>
			<div class="row mt32" style="max-width:1000px;width: auto;margin: 0 auto;display:block">
				<div class="col-xs-3 mt16">
					 <a href="https://goo.gl/5NDfs5" target="_blank"><img class="img img-responsive" src="ThemeHonos.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
				<div class="col-xs-3 mt16">
					 <a href="https://goo.gl/sbenLs" target="_blank"><img class="img img-responsive" src="ThemeOctra.jpeg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div>
			</div>
	 </div>
</section>


-->

<section class="container">
    <div class="oe_row oe_spaced" >
        	<div class="mt64" >
	            <a href="https://goo.gl/SAS2yZ" target="_blank"><img class="img img-responsive" src="odoo_service.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;margin: 0 auto;"/></a>
	        </div>
    </div>
</section>


<section class="container">
    <div class="oe_row oe_spaced" style="width:100%;margin-top: 30px;">
            <div class="contct_us_btn" style="padding:7px;margin: 0 auto;display: block;width: 20%;background-color: #087dda;text-align: center;">
            	<a style="color:white;font-size:20px;" href="https://goo.gl/73gtFt" target="_blank">Contact Us</a>
            </div>
    </div>
</section>









