<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Account Tax Report</h2>
        <p class="oe_mt32">
This module allows user to print tax report in Odoo. Structure of tax report is build same like financial report.<br/>
User can configure taxes (Chart of taxes) and it will create the tax report hierarchy, and hierarchy will be used in print tax report.<br/>
We have added option to display details (Journal Items) on wizard which will allow user to analyse report in details.. <br/></p>
<p><br/><br/>
On Tax report cofiguration we have provided options (Same like financial report.):
<ul>
  <li>Veiw</li>
    <li>Taxes</li>   
    <li>Tax Tags</li>
    <li>Report Value</li></ul>
<br/><br/>
This module allow user to configure N number of levels for taxes and user can view it on tax report. Values on tax report can be filters also based on Dates.<br/><br/>
Menus:
<ul>
  <li>Accounting/Configuration/Tax Reports</li>
  <li>Accounting/Configuration/Tax Reports/Tax Reports</li>
  <li>Accounting/Configuration/Tax Reports/Tax Reports Hierarchy</li>
  <li>Accounting/Reporting/PDF Reports/Tax Report</li>
</p> </ul>
<p>
Note: Tax Report (Display Details) report, detail line [Bill lines] does not show base amount but it only show tax amount.
<b style="color:orange;">Note: Not compatible with Odoo Enterprise (Supporting only community editions) </b>
</p>
    </div>
</section>

<section class="oe_container oe_dark" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Tax Report Configuration Form</h2>
        <h3 class="oe_slogan">Menu: Accounting/Configuration/Tax Reports/Tax Reports</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="tax_config_form_crop.png">
            </div>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Tax Report Hierarchy</h2><br/>
        <h3 class="oe_slogan">Menu: Accounting/Configuration/Tax Reports/Tax Reports Hierarchy</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_screenshot">
                <img src="tax_hierarchy_crop.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Wizard To Print Tax Report</h2>
        <h3 class="oe_slogan">Menu: Accounting/Reporting/PDF Reports/Tax Report</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="tax_wiz.png">
            </div>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Tax Report Detailed View</h2><br/><br/>
        <div class="oe_span6">
            <h4>Tax Report (Display Details)<h4>
            <div class="oe_demo oe_screenshot">
                <img src="tax_report_detail.png">
            </div>
        </div>
        <div class="oe_span6">
            <h4>Tax Report (Without Display Details)<h4>
            <div class="oe_demo oe_screenshot">
                <img src="tax_report_no_detail.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Contact / Support</h2>
        <div class="oe_span6">
            <div class="oe_picture" style="margin: 25px 10%;">
                <a href="http://www.probuse.com/">
                    <img src="logo.png">
                </a>
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                If you need any help or want more additional features,<br/> you may contact us through:<br/>
                Email: <a href="mailto:contact@probuse.com">contact@probuse.com</a> <br/>
                Website: <a href="http://www.probuse.com/"><u>www.probuse.com</u></a> <br/>
                Skype: mustufa_probuse<br/>
            </p>
        </div>
    </div>
</section>
 
